<div class="container-fluid py-4">
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">API Usage by Endpoint</h1>
            @if (!loading){
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Customer Endpoint</th>
                      <th>Cost/Week</th>
                      <th>Avg Tokens/Week</th>
                      <th>Top Prompt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let metric of endpointAnalytics">
                      <td>{{ metric.customerEndpoint }}</td>
                      <td>${{ metric.avgCostUSDPerWeek }}</td>
                      <td>{{ metric.avgTotalTokensPerWeek }}</td>
                      <td>{{ metric.topPrompt }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>